.conferencePanel{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}
.conferenceListPanel{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}
.liste{
    height: 450px;
    overflow:auto; 
}